<h1>Personas</h1>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <% @personas.each do |persona| %>
    <tr>
      <td><%= persona.id %></td>
      <td><%= persona.nombre %></td>
      <td><%= persona.apellido %></td>
      <td><%= persona.edad %></td>
      <td><%= persona.email %></td>
      <td><%= link_to "V", persona_path(persona) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="">
  <%= link_to "Crear Persona", new_persona_path %>
</div>


<!-- <% @personas.each do |persona| %>
  <div>
      <%= persona.inspect %>
  </div>
<% end %> -->
